<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<!--[if lte IE 8]><meta http-equiv="refresh" content="0; url={{ site.ie }}"><![endif]-->
<title>{{ page.title }}</title>
<!--谷歌验证-->
<meta name="google-site-verification" content="5G1Xe9s-ZlKcnvCoOukeRua6zvYwkfWaWX7jm1L0RZw" />
<!--百度验证-->
<meta name="baidu-site-verification" content="rV13eEAUHL" />
<meta name="title" content="{{ page.title }}">
{% if page.author %}
  <meta name="author" content="{{ page.author }}">
{% else %}
  <meta name="author" content="{{ site.author.name }}">
{% endif %}
<meta name="keywords" content="{{ page.tags | join: ' ' }}">
{% if page.description %}
  <meta name="description" content="{{ page.description }}">
{% endif %}

<link rel="shortcut icon" href="{{ site.favicon }}" />
<link rel="icon" href="{{ site.favicon }}" type="image/x-icon">

<script src="https://cdn.staticfile.org/jquery/1.7.1/jquery.min.js"></script>
<script>
  // 防止页面 url 更改
  var url = decodeURI(window.location);
  url = url.split('?')[0];
  window.history.pushState({}, 0, url);
</script>

{% include css.html %}
<link href="{{ site.rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">
