<script src="{{ site.js | prepend: site.baseurl }}jquery.js"></script>
<script src="{{ site.js | prepend: site.baseurl }}jquery.pjax.js"></script>
<script src="{{ site.js | prepend: site.baseurl }}nprogress.js"></script>
<script src="{{ site.js | prepend: site.baseurl }}searchbox.js"></script>
<script src="{{ site.js | prepend: site.baseurl }}script.js"></script>
<!--<script src="{{ site.js | prepend: site.baseurl }}iDisqus.min.js"></script>-->

<script src="path/to/iDisqus.min.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="{{ site.js | prepend: site.baseurl }}buttons.js"></script>