<!-- <script src="{{ site.js | prepend: site.baseurl }}jquery.js"></script>
<script src="{{ site.js | prepend: site.baseurl }}jquery.pjax.js"></script>
<script src="{{ site.js | prepend: site.baseurl }}nprogress.js"></script>
<script src="{{ site.js | prepend: site.baseurl }}searchbox.js"></script>
<script src="{{ site.js | prepend: site.baseurl }}script.js"></script> -->
<!-- https -->
<script src="https://gitee.com/achunya/assets/tree/master/assets/js/jquery.js"></script>
<script src="https://gitee.com/achunya/assets/tree/master/assets/js/jquery.pjax.js"></script>
<script src="https://gitee.com/achunya/assets/tree/master/assets/js/nprogress.js"></script>
<script src="https://gitee.com/achunya/assets/tree/master/assets/js/searchbox.js"></script>
<script src="https://gitee.com/achunya/assets/tree/master/assets/js/script.js"></script>

<!-- 友联 -->
<!-- <script src="{{ site.js | prepend: site.baseurl }}classie.js"></script>
<script src="{{ site.js | prepend: site.baseurl }}modalEffects.js"></script> -->

<script src="https://gitee.com/achunya/assets/tree/master/assets/js/classie.js"></script>
<script src="https://gitee.com/achunya/assets/tree/master/assets/js/modalEffects.js"></script>

<!-- Valine --> 
<!-- <script src="{{ site.js | prepend: site.baseurl }}av-min.js"></script>
<script src="{{ site.js | prepend: site.baseurl }}Valine.min.js"></script>
<script src="{{ site.js | prepend: site.baseurl }}Valine.min.js.map"></script>
<script src="{{ site.js | prepend: site.baseurl }}comment.js"></script> -->

<script src="https://gitee.com/achunya/assets/tree/master/assets/js/av-min.js"></script>
<script src="https://gitee.com/achunya/assets/tree/master/assets/js/Valine.min.js"></script>
<script src="https://gitee.com/achunya/assets/tree/master/assets/js/Valine.min.js.map"></script>
<script src="https://gitee.com/achunya/assets/tree/master/assets/js/comment.js"></script>
