<link rel="stylesheet" href="../assets/css/style.css">
<script src="https://cdn.staticfile.org/jquery/2.1.3/jquery.min.js"></script>
<script src="{{ site.js | prepend: site.baseurl }}jquery.pjax.js"></script>
<script src="{{ site.js | prepend: site.baseurl }}nprogress.js"></script>
<script src="{{ site.js | prepend: site.baseurl }}searchbox.js"></script>
<script src="{{ site.js | prepend: site.baseurl }}script.js"></script>
<script src="{{ site.js | prepend: site.baseurl }}iDisqus.min.js"></script>