<div id="post__share">
  <a id="icon-twitter" class="fontello" href="https://twitter.com/intent/tweet?url=achuanya.github.io{{ page.url }}&title={{ page.title }}&pics=https://raw.githubusercontent.com/achuanya/achuanya.github.io/master/assets/image/avatar.jpg" target="_blank"></a>
  <a id="icon-qzone" class="fontello" href="https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=www.achuan.io{{ page.url }}&title={{ page.title }}&pics=https://raw.githubusercontent.com/achuanya/achuanya.github.io/master/assets/image/avatar.jpg" target="_blank"></a>
                                      <!-- href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}" 接口 -->
                                      <!-- {{ site.url }} 博客首页 -->
  <p class="share-info">分享到</p>
</div>