/* General styles for the modal */

/* 
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the 
perspective effects (not including the modals and the overlay).
*/
.md-perspective,
.md-perspective body {
	/*height: 100%;*/
	overflow: hidden;
}
/*---------------------------------*\
   按钮样式
\*---------------------------------*/
.md-perspective body  {
	background: #3c4149;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}

.container {
	background: #3c4149;
	min-height: 100%;
}

.md-modal {
	position: fixed;
	left: 50%;
	max-width: 100%;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

/*---------------------------------*\
   弹出 => 背景透明
\*---------------------------------*/
.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.9);
	z-index: 1000;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay
{
	opacity: 1;
	visibility: visible;
}


.md-content
{
	color: #fff;
	position: relative;
	border-radius: 5px;
	margin: 0 auto;
}
/*---------------------------------*\
   友情链接  =>  标题
\*---------------------------------*/
.md-content h3
{
	margin: 0; padding: 0.4em;
	text-align: center;
	font-size: 2.4em; font-weight: 300;
	opacity: 0.8;
	background: rgba(153,153,153,0.9);
	color: #333;
	border-radius: 3px 3px 0 0
}
/*---------------------------------*\
   友情链接 =->  内容主题
\*---------------------------------*/
.md-content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
	background: rgba(125, 139, 153, 0.1)
}

.md-content > div p {
	margin: 0;
	padding: 10px 0;
}

.md-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.md-content > div ul li {
	padding: 5px 0;
}

.md-content button {
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
}

.md-effect-10.md-modal {
	-webkit-perspective: 1300px;
	-moz-perspective: 1300px;
	perspective: 1300px;
}

.md-effect-10 .md-content
{
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotateX(-60deg);
	-moz-transform: rotateX(-60deg);
	-ms-transform: rotateX(-60deg);
	transform: rotateX(-60deg);
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-10 .md-content {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	transform: rotateX(0deg);
	opacity: 1;
}


/* Effect 7:  slide and stick to top */
.md-effect-7{
	width:100%;
	height:100%;
	top: 0;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	overflow-x: hidden;
	overflow-y: scroll;
}

.md-effect-7 .md-content {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	opacity: 0;
}

.md-show.md-effect-7 .md-content {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
	border-radius: 0 0 3px 3px;
	opacity: 1;
}
/* 设置滚动条的样式 and (隐藏导航条不滚动的bug) */
::-webkit-scrollbar {
	width:12px;
}
/* 去掉buttom默认样式 */
button {
	outline:none;
}
/* 自述 => 字体样式 */
.readme {
	color: #000;
}
/* 友联 => 字体样式 */
.links {
	color:#000;
}
/* 留言板 => 离开按钮样式 */
.md-close {
	padding: 10px 100px 10px 100px;
	position: relative;
    bottom: 15px;
    color: #7d8b99;
    background: rgba(229, 232, 236, 0.95);
	border: none;
	border-radius: 5px;
    box-shadow: 0 0 10px 10px transparent;
    outline: none;
    cursor: pointer;
    -webkit-transition: box-shadow .35s;
    -moz-transition: box-shadow .35s;
    -ms-transition: box-shadow .35s;
    -o-transition: box-shadow .35s;
    transition: box-shadow .35s;
	z-index: 99;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.md-close:hover {
	color:#49c998;
}
/* 留言板 => h3样式 */
#h3style {
	padding: 0.5px;
    border-radius: 2%;
    color: #fff;
    font-size: 30px;
}
/* 留言板 => 主题模块 */
.leave-top {
	padding: 50px 0 0 0;
}
.md-overlay_2 {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.md-show ~ .md-overlay_2 {
	opacity: 1;
	visibility: visible;
}

.md-content > div
{
    padding: 15px 0px 0px;
}
/* .valine .vwrap .veditor-area
{
    background: rgba(0,0,0,0.6);
}

.valine .vlist .vcard .text-wrapper .vcomment p
{
    color: #fff;
}

.valine .vlist .vcard .text-wrapper .vhead .vname
{
    color: #fff;
}
.valine .vwrap .textarea-wrapper textarea
{
	background: rgba(0,0,0,0.6);
}
.veditor
{
	background: rgba(0,0,0,0.6);
}


.valine .vwrap .auth-section
{
	background: rgba(0,0,0,0.6);
}
.auth-section
{
	background: rgba(0,0,0,0.6);
}
.vnick .vmail .vlink
{
	background: rgba(0,0,0,0.6);
	border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
}
#vcomments
{
	padding-top: 0px;
}
.valine .vwrap .textarea-wrapper .comment_trigger
{
	background: rgba(0,0,0,0.6);
} */

/* Chorme 隐藏滚动条 */
#modal-7::-webkit-scrollbar {
	display: none;
}
/* IE/Edge 隐藏滚动条 */
#modal-7 {
	-ms-overflow-style: none;
}

/* 留言板大小100% */
@media screen and (max-width: 768px) {
	#modal-7 {
		width: 100%;
	}
}