/*!-------------------------------------
 * Syntax Colours
 * https://gist.github.com/edwardhotchkiss/2005058
 *
 * Theme based on prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * @author Tim  Shedor
 * ------------------------------------- */
/*! Modified by Peiwen Lu @ 30 Nov 2013 */
/* Modified by Celey Qin @ 16 Dec 2015 for Java */
/* Code blocks */
.highlight {
  margin: 1.2em 0;
  color: white;
}

pre {
  border-radius: 5px;
  padding: 1em;
  font: .9em/1.5 Consolas, Monaco, 'Andale Mono', monospace;
  background-color: #1E1E1E;
  background-origin: content-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

/* scroll bar */
pre::-webkit-scrollbar {
  height: 8px;
}
pre::-webkit-scrollbar-thumb {
  background: #dfdfdf;
}
pre::-webkit-scrollbar-thumb:hover {
  background: #787878;
}

/* line zone */
pre .lineno {
  background: #343434;
  color: #b1b1b1;
  border-right: 0px solid #b1b1b1;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* code zone with line */
pre .code {
  font-family: inherit;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* code zone */
pre > code {
  font-family: inherit;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Inline code */
:not(pre) > code {
  margin: 0 .25em 0 .25em;
  padding: .25em .25em .25em .25em;
  color: black;
  font: .85em 'Source Code Pro';
  background: #EFEFEF;
  vertical-align: 0px; }

.highlight .c {
  color: #586e75; }

/* Comment */
.highlight .err {
  color: #b1b1b1; }

/* Error */
.highlight .g {
  color: #b1b1b1; }

/* Generic, Keyword */
.highlight .k {
  color: #569CD6; }

/* Keyword */
.highlight .l {
  color: #b1b1b1; }

/* Literal */
.highlight .n {
  color: #DCDCAA; }

/* Name */
.highlight .o {
  color: #FFFFFF; }

/* Operator */
.highlight .x {
  color: #cb4b16; }

/* Other */
.highlight .p {
  color: #FFFFFF; }

/* Punctuation, Block comment */
.highlight .cm {
  color: #808080; }

/* Comment.Multiline */
.highlight .cp {
  color: #859900; }

/* Comment.Preproc, Line Comment */
.highlight .c1 {
  color: #808080; }

/* Comment.Single */
.highlight .cs {
  color: #859900; }

/* Comment.Special */
.highlight .gd {
  color: #2aa198; }

/* Generic.Deleted */
.highlight .ge {
  color: #b1b1b1;
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #dc322f; }

/* Generic.Error */
.highlight .gh {
  color: #cb4b16; }

/* Generic.Heading */
.highlight .gi {
  color: #859900; }

/* Generic.Inserted */
.highlight .go {
  color: #b1b1b1; }

/* Generic.Output */
.highlight .gp {
  color: #b1b1b1; }

/* Generic.Prompt */
.highlight .gs {
  color: #b1b1b1;
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #cb4b16; }

/* Generic.Subheading */
.highlight .gt {
  color: #b1b1b1; }

/* Generic.Traceback */
.highlight .kc {
  color: #cb4b16; }

/* Keyword.Constant */
.highlight .kd {
  color: #268bd2; }

/* Keyword.Declaration, Keyword */
.highlight .kn {
  color: #CC7832; }

/* Keyword.Namespace */
.highlight .kp {
  color: #859900; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #268bd2; }

/* Keyword.Reserved */
.highlight .kt {
  color: #CC7832; }

/* Keyword.Type */
.highlight .ld {
  color: #b1b1b1; }

/* Literal.Date */
.highlight .m {
  color: #2aa198; }

/* Literal.Number, String */
.highlight .s {
  color: #A31515; }

/* Literal.String */
.highlight .na {
  color: #b1b1b1; }

/* Name.Attribute */
.highlight .nb {
  color: #b58900; }

/* Name.Builtin */
.highlight .nc {
  color: #b1b1b1; }

/* Name.Class */
.highlight .no {
  color: #cb4b16; }

/* Name.Constant Annotation name */
.highlight .nd {
  color: #BBB529; }

/* Name.Decorator */
.highlight .ni {
  color: #cb4b16; }

/* Name.Entity */
.highlight .ne {
  color: #cb4b16; }

/* Name.Exception, Method declaration */
.highlight .nf {
  color: #FFC66D; }

/* Name.Function */
.highlight .nl {
  color: #b1b1b1; }

/* Name.Label */
.highlight .nn {
  color: #b1b1b1; }

/* Name.Namespace */
.highlight .nx {
  color: #b1b1b1; }

/* Name.Other */
.highlight .py {
  color: #b1b1b1; }

/* Name.Property */
.highlight .nt {
  color: #268bd2; }

/* Name.Tag */
.highlight .nv {
  color: #268bd2; }

/* Name.Variable */
.highlight .ow {
  color: #859900; }

/* Operator.Word */
.highlight .w {
  color: #b1b1b1; }

/* Text.Whitespace, Number */
.highlight .mf {
  color: #6897BB; }

/* Literal.Number.Float */
.highlight .mh {
  color: #6897BB; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #6897BB; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #6897BB; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #586e75; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #2aa198; }

/* Literal.String.Char */
.highlight .sd {
  color: #b1b1b1; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #2aa198; }

/* Literal.String.Double */
.highlight .se {
  color: #cb4b16; }

/* Literal.String.Escape */
.highlight .sh {
  color: #b1b1b1; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #FFFFFF; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #2aa198; }

/* Literal.String.Other */
.highlight .sr {
  color: #dc322f; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #2aa198; }

/* Literal.String.Single */
.highlight .ss {
  color: #2aa198; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #268bd2; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #268bd2; }

/* Name.Variable.Class */
.highlight .vg {
  color: #268bd2; }

/* Name.Variable.Global */
.highlight .vi {
  color: #268bd2; }

/* Name.Variable.Instance */
.highlight .il {
  color: #2aa198; }

/* Literal.Number.Integer.Long */
