@media screen and (min-width: 585px) {
    .mobile {
        display: none;
    }
}

@media screen and (max-width: 585px) {
    #tags {
        display: none;
    }
    #sidebar {
        display: inline-flex;
    }

    #tags__ul {
        position: relative;
        left: 50%;

    }

    .mobile {
        z-index: 99999;
        display: block;
        position: absolute;
        bottom: 0;
        width: calc(100% - 48px);
        height: 48px;
    }
    .mobile ul {
        display: flex;
        justify-content: end;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .mobile .mobile_tags__li {
        display: block;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding: 13px 0;
        text-align: center;
        font-size: 15px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        color: #000;
        margin: 0;
    }

    .mobile_tags__li {
        cursor: pointer;
        background-color: #e6e9ed;
        /*margin: 0;*/
        /*display: inline-block;*/
        /*padding: 16px 40px;*/
        /*text-decoration: none;*/
        /*line-height: 100%;*/
    }
    .mobile_tags__li.active {
        margin-right: -1px;
        color: #2eb695;
        background: #fafafa;
        position: relative;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }
    .mobile_tags__li.active:hover {
        color: #2eb695;
        background: #fafafa;
    }
    .mobile_tags__li.active:before, .mobile_tags__li.active:after {
        width: 6px;
        height: 6px;
        background: transparent;
        position: absolute;
        right: -3px;
    }

    .mobile_tags-btn {
        color: #a6a6a7;
        -webkit-transition: color .3s, background .3s;
        -moz-transition: color .3s, background .3s;
        -ms-transition: color .3s, background .3s;
        -o-transition: color .3s, background .3s;
        transition: color .3s, background .3s;
    }

    @media screen and (min-width: 1281px) {
        #icon-arrow-up.fullscreen {
            margin-right: -50px;
        }
    }
    @media screen and (max-width: 1280px) {
        #icon-arrow-up.fullscreen {
            -webkit-transform: translateX(-585px);
            -moz-transform: translateX(-585px);
            -ms-transform: translateX(-585px);
            -o-transform: translateX(-585px);
            transform: translateX(-585px);
        }
    }
}